body{
    background: linear-gradient(to right, #246ace, #12499d);
  }
  #head{
  height: min-content;
  background-color: #1F1F1F;
  width: 100%;
  padding-left: 150px;
}
  
  #title{
    color: white;
    text-decoration: none;
  }
  #headin{
    width: 100%;
    display: flex;
justify-content: space-around;
  }
  #head p{
    color: white;
    font-size: 1.7vh;
    margin-bottom: 0;
  display: inline-block;
  vertical-align: text-top;
  
  }
  #headimg{
  width: max-content;
  
  }
  .headimg{
  float: right;
  margin-right: 10px;
  }
    .headimg p{
      display: inline-block;
  }
  .headimg img{
    display: inline-block;  
    width: 1vw;
  
  }
  #profile-settings{
      }
  #profile-settings button, #users-settings button{
color: white;
  }
  #users-settings img{
    width: 1vw;
  }

  .w3-dropdown-hover:first-child, .w3-dropdown-click:hover{
    background-color: #1F1F1F !important;
  }
  .reded{
background-color: #FF0000 !important;
color: white !important;
  }
  .navbar{
  }
  .img-responsive{
  }
  
  
  /***** Font */
  @media screen and (max-width: 1300px) {
    #head p{
      font-size: 12px;
    }
    #head #title{
      font-size: 13px;
    }
    }
  
  @media screen and (max-width: 800px) {
  
  
  }
  
  @media screen and (max-width: 600px) {
  
  }