body{
    background: linear-gradient(to right, #246ace, #12499d);
  }
  @font-face {
    font-family: "lobster";
    src: url("/fonts/Lobster/Lobster-Regular.ttf");
    src: url("/fonts/Lobster/Lobster-Regular.ttf") format("woff");
    }
  #head{
  height: min-content;
  background-color: #666666;
  width: 100%;
  padding-left: 150px;
}
  
#back-img{
  height: 3vh;
  cursor: pointer;
}
  #title img{
  }
  #headin{
    width: 100%;
    display: flex;
justify-content: space-around;
  }
  #head #title{
    color: white;
      text-decoration: none;
      font-size: 1.3vmax;
      font-family: lobster !important;
      font-style: italic;
      margin: auto;
    }
  #head p{
    color: white;
    font-size: 1.7vh;
    margin-bottom: 0;
  display: inline-block;
  vertical-align: text-top;
  
  }
  #headimg{
  width: max-content;
  }
  .headimg{
  float: right;
  margin-right: 10px;
  }
    .headimg p{
      display: inline-block;
  }
  .headimg img{
    display: inline-block;  
    width: 1vw;
  
  }
  #profile-settings{
      }
  #profile-settings button, #users-settings button{
color: white;
  }
  #users-settings img{
    width: 1vw;
  }

  .w3-dropdown-hover:first-child, .w3-dropdown-click:hover{
    background-color: #666666 !important;
  }
  .reded{
background-color: #FF0000 !important;
color: white !important;
border-radius: 0.1vmax;
  }
  .navbar{
  }
  .img-responsive{
  }
  
  
  /***** Font */
  @media screen and (max-width: 1300px) {
    #head p{
      font-size: 12px;
    }
    #head #title{
      font-size: larger;
      font-family: lobster ;
      font-style: italic;
    }
    }
  
  @media screen and (max-width: 800px) {
  
  
  }
  
  @media screen and (max-width: 600px) {
  
  }