<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/header/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/header/header.css">
    <link rel="stylesheet" href="/header/app.css">
    <script src="/header/jquery.min.js"></script>
    <link rel="stylesheet" href="/sidebar/w3.css">
<link rel="stylesheet" href="/sidebar/font-awesome.min.css">
<link rel="stylesheet" href="/sidebar/sidebar.css">
<script src="/app.js"></script>
    <title>EIATECH Solution</title>
</head>
<body>
    <!-- Just an image -->
<nav id="head" class="navbar navbar-light">
    <div id="headin" class="">
    <button class="btn"><img onclick="redirectTo()" id="back-img" src="/images/icons/left-arrow.svg" alt=""></button>

     <a id="title" href="/"><img src="/images/logopng.png" alt="" style="width: 30%;"> Storage</a>

      <%if(currentUser){%>
      <div class="headimg">
        <%if(currentUser.username=="admin"){%>
          <img src="/images/icons/user.svg" alt="" class="align-middle">
<div id="profile-settings" class="w3-dropdown-hover">
  <button id="dropdownside" class="w3-button">
    <%= currentUser.username %> <img src="/images/icons/settings.svg" alt="">
  </button>
  <div class="w3-dropdown-content w3-bar-block drop-content" style="">
      <a href="/users" class="w3-bar-item w3-button nav">Users</a>      
      <a href="/storage_Manager" class="w3-bar-item w3-button nav">Storage Manager</a>      
    </div>
</div>
<% } else{%>
<a href="/user_info" style="padding: 1vmax;"><img src="/images/icons/padlock.svg" alt="" class="align-middle"></a>
<%}%>
&nbsp;
<a href="/logout" class="w3-bar-item w3-button nav reded">Logout</a>
      </div>
     <% }%>

    </div>
  </nav>


    
<script src="/header/header.js"></script>