#profile{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    justify-content: center;
}
.shrink{
    border-radius: 1.5vmax;
    background-color: white;
height: 98%;
display: flex;
flex-direction: column;
justify-content: center;
}
#user-form{
width: max-content;
min-width: 50%;
margin: auto;
}
#adduser{
    margin-top: 0 !important;
}
.view-img{
    cursor: pointer;
}
