.background-container{
border-radius: 1.5vmax;
height: 90vh;
display: flex;
flex-direction: column;
margin-top: 1.5vh;
background-color: white;
}

.top-m{
    margin-top: 10%;
    text-align: center;
}
#useradded{

}

#adduser{
background-image: url("/images/userform2.jpg");
background-size: cover;
    width: 50%;
    padding-top: 2% !important;
    margin-left: auto;
    margin-right: auto;
height: max-content;
}
#adduser label{
    color: #070707;
}
#adduser input{
}
.btn-greeng{
    background-color: #00A551;
    color: white;
}

#spaces{
}
#spaces label{
}
/** FontS*/
#adduser label, #adduser button, #adduser input{
    font-size: 0.9vw;
}
#adduser div{
font-size: 0.8vw;
}
/*** for particles**/

  
  
/****************/
.middle{
    text-align: center;
    margin: auto;
}

/************ for users table */
#users-table{
min-width: min-content;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    max-width: 100%;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    width: 100%;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
    table a{
margin-bottom: 0 !important;
    }
    #users-table{
margin-top: 5%;
    }
    .alert{
        margin: auto;
    }


    #users-table *{
font-size: 0.9vmax;
    }

    #capacity-input{
        min-width: 100px;
        width: 50%;
        text-align: center;
    }



    /******* screen */
    @media screen and (max-width: 1300px) {
        label, input{
            font-size: 14px !important;
          }
          #addbutton{
            font-size: 12px !important;
          }

          #users-table td, #users-table th{
font-size: medium;
          }
          .btn-greeng{
            font-size: small !important;
          }
          #spaces *{
font-size: small;
        }

        }

        @media screen and (max-width: 800px) {
        #adduser{
width: 100% !important;
        }
    }

    @media screen and (min-width: 1000px) {
        #users-table{

        }
        }