<%- include('./partials/header') -%>
<link rel="stylesheet" href="/login/extlogin.css">
<link rel="stylesheet" href="/login/login.css">
<div onload="particles()" class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img id="form-logo" class="" src="/images/logopng.png" alt="">
      </div>
  
      <!-- Login Form -->
      <form method="POST" action="/login">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <br><input type="submit" class="fadeIn fourth" value="Log In">
      </form>
      <% if(locals.status){ %>
        <div class="alert alert-danger" role="alert">
            Wrong credentials! please verify
          </div>
       <% } %>
    </div>
  </div>

  <div id="particle-container"></div>

  <script src="/login/particles.min.js"></script>
<script src="/login/particles_options.js"></script>

  <!--script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
  <%- include('./partials/footer') -%>
