<%- include('../partials/header') -%>
<link rel="stylesheet" href="/storage_manager/storage_manager.css">
<div id="storage_manager">

    <div class="in-container">
<h2>Storage Manager</h2>
    </div>

</div>

<script src="/storage_manager/storage_manager.js"></script>
<%- include('../partials/footer') -%>